Suppose you have a multiplication table that is N by N. That is, a 2D array where the value at the i-th row and j-th column is (i + 1) * (j + 1) (if 0-indexed) or i * j (if 1-indexed).

Given integers N and X, write a function that returns the number of times X appears as a value in an N by N multiplication table.

For example, given N = 6 and X = 12, you should return 4, since the multiplication table looks like this:

1 1 | 2 | 3 | 4 | 5 | 6 |

| 2 | 4 | 6 | 8 | 10 | 12 |

| 3 | 6 | 9 | 12 | 15 | 18 |

| 4 | 8 | 12 | 16 | 20 | 24 |

| 5 | 10 | 15 | 20 | 25 | 30 |

| 6 | 12 | 18 | 24 | 30 | 36 |

And there are 4 12's in the table.

In [2]:
import numpy as np
x=int(input("Enter the element to be searched"))
R=int(input("Enter the number of rows"))
C=int(input("Enter the number of columns"))
print("Enter the entries in a single line(separated by space):")
#User inpu of entries in a
#single line separated by space
entries=list(map(int,input().split()))
#For printing the matrix
matrix=np.array(entries).reshape(R,C)
print(matrix)

Enter the number of rows3
Enter the number of columns3
Enter the entries in a single line(separated by space):
1 2 3 2 4 6 3 6 9
[[1 2 3]
 [2 4 6]
 [3 6 9]]

# Brute Force

In [6]:
def multi_tables(n,x):
    count=0
    for i in range(1,n+1):
        for j in range(1,n+1):
            if i*j==n:
                count+=1
    return count
    
n=int(input("Enter the number n "))
x=int(input("Enter the number to be searched "))
count=multi_tables(n,x)
print(count)

Enter the number n 5
Enter the number to be searched 25
2

Time complexity of the program is O(N^2)

# Optimized Solution

In [11]:
def multi_tables(n,x):
    count=0
    for i in range(1,n+1):
        if n%i==0 and n%i<=n:
            count+=1
    return count
n=int(input("Enter the input " ))
x=int(input("Enter the number to be searched "))
count=multi_tables(n,x)
print(count)

Enter the input 4
Enter the number to be searched 12
3

Time complexity of the program is O(N)